*{
    /*universal element definition*/
    background-color: rgb(75, 75, 75);
    color:mediumorchid;
    font-family: sans-serif;
}

header, footer{
    text-align: center;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.card{

    /*dimensions and spacing*/
    margin: 3%;
    padding: 3%;

    /*border edits*/
    border: 2px;
    border-radius: 15px;
    border-style:dashed;

    /*card sizing*/
    width: 20%;
    height: 10%;
}

.card h2{

    /*dimensions and spacing*/
    margin:0%;
    padding: 15px;

    /*positioning*/
    position:relative;
    bottom: 90px;

    /*text positioning*/
    text-align: center;

    /*border editing*/
    border: 2px;
    border-style: solid;
    border-radius: 15px;

    /*colouring*/
    background-color: rgb(44, 44, 44);
    
}

.card p{

    /*positioning*/
    position:relative;
    bottom:50px;

    /*colouring*/
    background-color: rgb(44, 44, 44);

}

.card section{
    text-align: center;

    /*colouring*/
    background-color: rgb(44, 44, 44);
}